    <!-- Footer -->
    <footer class="footer py-5" id="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="footer-about">
                        <img src="https://cdn-icons-png.freepik.com/256/1714/1714739.png?uid=R197063715&ga=GA1.1.138319502.1745300049&semt=ais_hybrid" alt="لوگوی گلبرگ" class="logo">
                        <p>فروشگاه گلبرگ، ارائه دهنده محصولات آرایشی و بهداشتی اصل و با کیفیت. ما همواره به دنبال جلب رضایت مشتریان خود هستیم.</p>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-telegram"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5>لینک‌های سریع</h5>
                    <ul class="footer-links">
                        <li><a href="{% url "home:home" %}">خانه</a></li>
                        <li><a href="{% url "products:product_list" %}">محصولات</a></li>                        <li><a href="{% url "home:about" %}">درباره ما</a></li>
                        <li><a href="{% url "home:about" %}">تماس با ما</a></li>
                        <li><a href="{% url "home:faq" %}">سوالات متداول</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>اطلاعات تماس</h5>
                    <ul class="contact-info">
                        <li><i class="fas fa-map-marker-alt"></i> تهران، خیابان ولیعصر، پلاک ۱۲۳</li>
                        <li><i class="fas fa-phone"></i> ۰۲۱-۱۲۳۴۵۶۷۸</li>
                        <li><i class="fas fa-envelope"></i> info@golbarg.com</li>
                        <li><i class="fas fa-clock"></i> شنبه تا پنجشنبه: ۹ الی ۱۸</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="footer-bottom">
                        <p class="mb-0">تمامی حقوق برای فروشگاه گلبرگ محفوظ است. &copy; ۱۴۰۴</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>