<!-- Header & Navigation -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url "home:home" %}">
                <img src="https://cdn-icons-png.freepik.com/256/1714/1714739.png?uid=R197063715&ga=GA1.1.138319502.1745300049&semt=ais_hybrid" alt="لوگوی گلبرگ" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "home:home" %}">خانه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">محصولات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">تماس با ما</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <div class="search-box ms-3">
                        <input type="text" class="form-control" placeholder="جستجو...">
                        <button class="search-btn"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="cart-icon">
                        <a href="#" class="position-relative">
                            <i class="fas fa-shopping-bag"></i>
                            <span class="cart-counter">3</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<br><br>
<section class="category-menu bg-light py-2">
    <div class="container">
      <ul class="nav">
        {% for category in categories %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            {{ category.name }}
          </a>
          {% if category.get_children %}
            {% include "products/children_category.html" with nodes=category.get_children %}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
</section>
<br><br>
  
  